includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - database/seeders

    level: 5
    ignoreErrors:
        - message: '#Access to an undefined property App\\Http\\Resources\\Learning\\Catalog\\.*#'
          paths:
              - app/Http/Resources/Learning/Catalog/*
        - message: '#Call to an undefined method App\\Http\\Resources\\Learning\\Catalog\\.*#'
          paths:
              - app/Http/Resources/Learning/Catalog/*
