includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - database/seeders

    level: 5
    ignoreErrors:
        - message: '#Access to an undefined property App\\Modules\\Learning\\Http\\Resources\\Catalog\\.*#'
          paths:
              - app/Modules/Learning/Http/Resources/Catalog/*
        - message: '#Call to an undefined method App\\Modules\\Learning\\Http\\Resources\\Catalog\\.*#'
          paths:
              - app/Modules/Learning/Http/Resources/Catalog/*
