{
    auto_https disable_redirects
}

http://{$APP_DOMAIN} {
    redir https://{host}{uri} permanent
}

{$APP_DOMAIN} {
    tls {$CADDY_TLS_DIRECTIVE}

    encode zstd gzip

    root * /srv/public

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "no-referrer"
        -Server
    }

    php_fastcgi app:9000 {
        root /var/www/html/public
    }
    file_server
}
